<%- include('../partials/header') %>

<h2>All Artists</h2>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Artist</th>  
      <th>Genre</th>    
      <th>Year Formed</th>
    </tr>
  </thead>
  <tbody class="artistBody">
    <% artists.forEach(function(a) { %>
      <tr class="artistInfo">
        <td>
          <form action="/artists/<%= a.id %>?_method=DELETE" class="delete-form" method="POST">
            <button type="submit">X</button>
          </form>
        </td>
          <td><%= a.name %></td>
          <td><%= a.genre %></td>
          <td><%= a.yearFormed %></td>
      </tr>
      <% }) %>
  </tbody>
</table>

<%- include('../partials/footer') %>