<%- include('../partials/header') %>

<h2>All Artists</h2>
<table>
  <thead>
    <tr>
      <th>Artist</th>  
      <th>Genre</th>    
      <th>Year Formed</th>
    </tr>
  </thead>
  <tbody>
    <% artists.forEach(function(a) { %>
      <form action="/artists/<%= a.id %>?_method=DELETE" class="delete-form" method="POST">
        <br>
        <button type="submit">X</button>
      </form>
      <tr>
        <td><%= a.name %></td>
        <td><%= a.genre %></td>
        <td><%= a.yearFormed %></td>
      </tr>
      <% }) %>
  </tbody>
</table>

<%- include('../partials/footer') %>