<%- include('../partials/header') %>
<h2>All Albums</h2>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>  
      <th>Release Year</th>    
      <th>Genre</th>
      <th>Artist</th>
    </tr>
  </thead>
  <tbody>
    <% albums.forEach(function(d) { %>
    <tr>
      <td>
        <form action="/albums/<%= d.id %>?_method=DELETE" class="delete-form" method="POST">
          <button type="submit">X</button>
        </td>
      </form>
      <td><%= d.title %></td>
      <td><%= d.releaseYear %></td>
      <td><%= d.genre %></td>
      <td><%= d.artist %></td>
    </tr>
    <% }) %>
  </tbody>
</table>
<%- include('../partials/footer') %>