<%- include('../partials/header') %>


<section id="show-page">
  <br>
  <div>Title: </div>
  <div><%= d.title %></div>
  <br>
  <div>Released: </div>
  <div><%= a.releaseYear %></div>
  <br>
  <div>Genre: </div>
  <div><%= a.genre %></div>
  <br>
  <div>Artist: </div>
  <div><%= a.artist %></div>
</section>

<%- include('../partials/footer') %>