<%- include('../partials/header') %>


<section id="show-page">
  <br>
  <div>Artist: </div>
  <div><%= a.name %></div>
  <br>
  <div>Genre: </div>
  <div><%= a.genre %></div>
  <br>
  <div>Year Formed: </div>
  <div><%= a.yearFormed %></div>
</section>


<%- include('../partials/footer') %>